.label{
    background-color: #F2BE62;
    font-size: 140%;
    font-family: sans-serif;
    color: #904808;
}

table{
    background-color: #FDEBC8;
}
.hang-6{
    text-align: center;
}
.cot-3{
    width: 20px;
}