.label{
    background-color: #006F78;
    font-size: 140%;
    font-family: sans-serif;
    color: white;
}

table{
    background-color:#029DAD ;
}
.hang-6{
    text-align: center;
}
.cot-3{
    width: 20px;
}